<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  
  <%= csrf_meta_tag() %>
  <%= live_title_tag assigns[:page_title] || "Meliodas", suffix: " LiveView" %>
  <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>" />
  <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
</head>

<body class="bg-dark">
  <%= @inner_content %>
</body>

</html>
